 *{
    margin: 0%;
    padding: 0%;
 }
 h1{
        width: 50%;
        background-color: aqua;
        text-align: center;
        font-size: xx-large;
    }
    h2{
        background-color: rgb(209, 238, 94);
        font-family: Arial;
    }
    div{
        background-color: rgb(167, 167, 228);
        width: 50%;
        height: 50%;
        

    }
   /* a{
        background-color: rgb(227, 34, 92);
    }*/